* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

.section {

    .section_title {
        text-align: center;

        h2 {
            color: #000;
            font-family: "Medium";
            font-size: 43px;
            font-weight: 500;
            line-height: 140%;
        }

        p {
            color: #000;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            opacity: 0.6;
            margin-top: 20px;
            max-width: 656px;
            margin: 0 auto;
        }
    }

    .section_boxs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;

        .section_box {

            .section_box-img {
                border-radius: 10px;
                background: lightgray 50% / cover no-repeat;
                width: 222px;
                height: 173px;
            }

            h5 {
                color: #000;
                font-family: "Medium";
                font-size: 24px;
                font-weight: 500;
                line-height: 150%;
            }

            .section_icon {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .section_icon1 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            p {
                color: #000;
                font-family: "Result";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                opacity: 0.6;
            }

            h6 {
                color: #000;
                font-family: "Result";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;

                span {
                    color: #000;
                    font-family: "Medium";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    opacity: 0.6;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}

@media (min-width: 991px) and (max-width: 1200px) {
    .section {
        .section_boxs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;

        }
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .section {
        .section_boxs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;

        }
    }
}

@media (min-width: 448px) and (max-width: 768px) {
    .section {

        .section_title {
            text-align: center;

            h2 {
                font-size: 33px;
                line-height: 140%;
            }

            p {
                padding: 0 50px;    
                font-size: 18px;
                line-height: 160%;
            }
        }

        .section_boxs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;


        }
    }
}


@media (max-width: 447px) {
    .section {

        .section_title {
            text-align: center;

            h2 {
                font-size: 33px;
                line-height: 140%;
            }

            p {
                padding: 0 50px;    
                font-size: 18px;
                line-height: 160%;
            }
        }

        .section_boxs {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;

            .section_box {
                h5 {
                    font-size: 20px;
                }
                p{
                    font-size: 18px;
                }
                h6 {
                    font-size: 18px;
                }
            }
        }
    }
}